In [1]:
import pandas as pd
from function import save_dict_to_csv, load_csv_to_dict, save_ids_vecs_to_csv, load_csv_to_ids_vectors
import numpy as np
import random

## 0. Sample Data

### 0-1. Dictionary

In [2]:
user_vec_dic = {'abc':np.random.random(100),
            'ade':np.random.random(100),
            '123':np.random.random(100),
            '234':np.random.random(100),
            'qqq':np.random.random(100),}

user_vec_dic_np = {'abc':np.random.random(100).tolist(),
                   'ade':np.random.random(100).tolist(),
                   '123':np.random.random(100).tolist(),
                   '234':np.random.random(100).tolist(),
                   'qqq':np.random.random(100).tolist(),}

### 0-2. 兩個 np.array

#### EXAMPLE：n 個使用者，維度 m

In [3]:
import random
n = 5
m = 10
ids = np.asarray(random.sample(range(n),n))
vectors = np.random.random((n,m))

In [4]:
ids

array([4, 2, 0, 3, 1])

In [5]:
vectors

array([[0.52482969, 0.43027585, 0.27742977, 0.89387868, 0.4224252 ,
        0.53472476, 0.69598876, 0.41616535, 0.45948643, 0.36538859],
       [0.2883005 , 0.54443483, 0.13194302, 0.83978137, 0.62177696,
        0.90209411, 0.56348438, 0.42950107, 0.62218309, 0.63306109],
       [0.00913484, 0.38830154, 0.49898255, 0.65728013, 0.3630855 ,
        0.49292171, 0.81051462, 0.54866493, 0.97875186, 0.78774219],
       [0.17616128, 0.54641368, 0.3973354 , 0.27114562, 0.92190067,
        0.11759823, 0.95093832, 0.6441864 , 0.56972403, 0.819614  ],
       [0.9322047 , 0.19982769, 0.49298639, 0.49989276, 0.84056794,
        0.21306549, 0.80515129, 0.11082446, 0.61234984, 0.15233126]])

## 1. 儲存成 csv

### 1-1. 將 dictionary 存成 csv

In [6]:
path_py = 'test_py_list.csv'
path_np = 'test_np_list.csv'

save_dict_to_csv(user_vec_dic,path_py)
save_dict_to_csv(user_vec_dic_np,path_np)

### 1-2. 將兩個 numpy array 存成 csv

In [7]:
path_two_np_array = 'test_2_np.csv'
save_ids_vecs_to_csv(ids,vectors,path_two_np_array)

## 2. 讀取 csv

### 2-1. 讀成 dictionary

In [8]:
load_csv_to_dict(path_two_np_array)

{'4': array([0.52482969, 0.43027585, 0.27742977, 0.89387868, 0.4224252 ,
        0.53472476, 0.69598876, 0.41616535, 0.45948643, 0.36538859]),
 '2': array([0.2883005 , 0.54443483, 0.13194302, 0.83978137, 0.62177696,
        0.90209411, 0.56348438, 0.42950107, 0.62218309, 0.63306109]),
 '0': array([0.00913484, 0.38830154, 0.49898255, 0.65728013, 0.3630855 ,
        0.49292171, 0.81051462, 0.54866493, 0.97875186, 0.78774219]),
 '3': array([0.17616128, 0.54641368, 0.3973354 , 0.27114562, 0.92190067,
        0.11759823, 0.95093832, 0.6441864 , 0.56972403, 0.819614  ]),
 '1': array([0.9322047 , 0.19982769, 0.49298639, 0.49989276, 0.84056794,
        0.21306549, 0.80515129, 0.11082446, 0.61234984, 0.15233126])}

### 2-2. 從 csv 讀成兩個 numpy array

In [9]:
ids, vectors = load_csv_to_ids_vectors(path_two_np_array)

In [10]:
np.asarray(ids)

array(['4', '2', '0', '3', '1'], dtype=object)

In [11]:
vectors.dtype

dtype('float64')

## 3. CSV 的樣式

### python list vector version

In [12]:
pd.read_csv(path_py, header=None).head(3)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,abc,0.716499,0.807720,0.627787,0.877580,0.384484,0.359654,0.986248,0.909313,0.892789,...,0.808053,0.498251,0.685151,0.960401,0.883355,0.598105,0.839332,0.724012,0.856174,0.621581
1,ade,0.049260,0.384770,0.610364,0.455525,0.791035,0.812606,0.717947,0.300670,0.423918,...,0.248906,0.521233,0.250853,0.519341,0.168267,0.691886,0.381368,0.534104,0.299947,0.256244
2,123,0.094454,0.196906,0.614124,0.550266,0.592759,0.873053,0.328561,0.075981,0.657815,...,0.836581,0.450387,0.767146,0.579547,0.172427,0.971194,0.025001,0.840713,0.142057,0.462201

In [13]:
pd.read_csv(path_np, header=None).head(3)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,abc,0.704404,0.378757,0.657300,0.985190,0.199247,0.000661,0.345455,0.304337,0.191889,...,0.808542,0.694551,0.719061,0.837003,0.721342,0.825319,0.669348,0.731836,0.418378,0.086349
1,ade,0.567305,0.704333,0.223069,0.219235,0.209464,0.251086,0.833688,0.659023,0.258063,...,0.127376,0.057208,0.549979,0.610602,0.526949,0.381767,0.747379,0.947198,0.132541,0.004880
2,123,0.309823,0.466687,0.813106,0.877895,0.563658,0.321000,0.196384,0.837169,0.513974,...,0.419562,0.532986,0.220485,0.312956,0.658480,0.895314,0.228338,0.261398,0.889704,0.591113

In [14]:
pd.read_csv(path_two_np_array, header=None).head(3)

,0,1,2,3,4,5,6,7,8,9,10
0,4,0.524830,0.430276,0.277430,0.893879,0.422425,0.534725,0.695989,0.416165,0.459486,0.365389
1,2,0.288300,0.544435,0.131943,0.839781,0.621777,0.902094,0.563484,0.429501,0.622183,0.633061
2,0,0.009135,0.388302,0.498983,0.657280,0.363085,0.492922,0.810515,0.548665,0.978752,0.787742